node_modules
dist
.DS_Store
*.local

.cache

# nested clone of this same repo, created by GitHub Desktop
DiaBite-repo/

# build artifacts
tsconfig.tsbuildinfo
.engine-api-key

# local secrets
.env.local
.env*.local
